@page "/grpcvaults"
@inject IDownstreamApi DownstreamApi
@inject NavigationManager NavigationManager

<h3>Vaults</h3>

@if (_isLoading == true)
{
  <span>Chargement en cours</span>
}
else if (_isLoading == false)
{
  if (_vaults != null)
  {
    if (_vaults.Length == 0)
    {
      <span>C'est un peu vide...</span>
    }
    else
    {
      foreach (Vault vault in _vaults)
      {
        <a href="/grpcvaults/@(vault.Id)">@vault.Name</a>
        <br />
      }
    }
    <button @onclick="OnAddButtonClick">Ajouter un coffre</button>
  }
  else if (_errorMessage != null)
  {
    <span>Code erreur : @_errorMessage.Code</span>
    <br />
    <span>Message : @_errorMessage.Message</span>
  }
}