@page "/Account/AccessDenied"
@using System.Diagnostics

<PageTitle>Access denied</PageTitle>

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">You are not authorize to access this resource.</h2>

